<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link rel="stylesheet" type="text/css" href="./sprite.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="side-bar-left">
      left side bar (player list)
      <ul class="player-boards">
        <li class="player-board-container">
          <div class="player-name">Hepheir</div>
          <div class="player-prestige-points">0 PP</div>
          <div class="player-mini-board">
            <ul class="resources">
              <li class="resource">
                <!-- Diamond -->
                <div class="card-pile diamond">
                  <div class="numbers_sheet number" data-number="0"></div>
                </div>
                <div class="coin-pile token type_diamond">
                  <div class="numbers_sheet number" data-number="0"></div>
                </div>
              </li>
              <li class="resource">
                <!-- Sapphire -->
                <div class="card-pile sapphire">
                  <div class="numbers_sheet number" data-number="3"></div>
                </div>
                <div class="coin-pile token type_sapphire empty">
                  <div class="numbers_sheet number" data-number="0"></div>
                </div>
              </li>
              <li class="resource">
                <!-- Emerald -->
                <div class="card-pile emerald type_emerald">
                  <div class="numbers_sheet number" data-number="0"></div>
                </div>
                <div class="coin-pile token type_emerald">
                  <div class="numbers_sheet number" data-number="0"></div>
                </div>
              </li>
              <li class="resource">
                <!-- Ruby -->
                <div class="card-pile ruby empty">
                  <div class="numbers_sheet number" data-number="0"></div>
                </div>
                <div class="coin-pile token type_ruby">
                  <div class="numbers_sheet number" data-number="1"></div>
                </div>
              </li>
              <li class="resource">
                <!-- Onyx -->
                <div class="card-pile onyx">
                  <div class="numbers_sheet number" data-number="4"></div>
                </div>
                <div class="coin-pile token type_onyx">
                  <div class="numbers_sheet number" data-number="3"></div>
                </div>
              </li>
              <li class="resource">
                <!-- Gold -->
                <div class="coin-pile token type_gold">
                  <div class="numbers_sheet number" data-number="1"></div>
                </div>
              </li>
            </ul>
            <div class="reserves">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="noble-tiles">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="player-board-container">SJH</li>
        <li class="player-board-container">koreair</li>
        <li class="player-board-container">isuke</li>
      </ul>
    </div>
    <div class="game-area-container">
      <div class="game-area">
        <div class="table">
          <div class="development-cards-container"></div>
          <div class="gem-tokens-container"></div>
          <div class="noble-tiles-container"></div>
        </div>
        <div class="player-board"></div>
        <div class="player-hand">
          HAND
          <div class="my-gem-tokens">My Gem tokens</div>
          <div class="my-reserved-cards">My Reserved cards</div>
        </div>
      </div>
    </div>
    <div class="side-bar-right">
      right side bar
      <div class="top-controls">Top Controls</div>
      <div class="game-log">
        Game log
        <ul>
          <li>Hepheir purchases a card(lv1)</li>
          <ul>
            <li>Hepheir returns 1 ruby</li>
            <li>Hepheir returns 5 onyx</li>
          </ul>
          <li>SJH reserves a card(lv2)</li>
          <ul>
            <li>SJH gains a gold</li>
          </ul>
          <li>koreair takes 1 ruby</li>
          <li>koreair takes 1 emerald</li>
          <li>koreair takes 1 sapphire</li>
          <li>isuke takes 2 ruby</li>
        </ul>
      </div>
    </div>
    <!-- partial -->
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
