<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <title>Document</title>
</head>
<body>
    <div class="side-bar-left">
        left side bar
        (player list)
        <ul>
            <li>Hepheir</li>
            <li>SJH</li>
            <li>koreair</li>
            <li>isuke</li>
        </ul>
    </div>
    <div class="game-area-container">
        <div class="game-area">
            <div class="table">
                <div class="development-cards-container">

                </div>
                <div class="gem-tokens-container">

                </div>
                <div class="noble-tiles-container">

                </div>
            </div>
            <div class="hand">
                HAND
                <div class=""></div>
            </div>
        </div>
    </div>
    <div class="side-bar-right">
        right side bar
        <div class="top-controls">
            Top Controls

        </div>
        <div class="game-log">
            Game log
            <ul>
                <li>Hepheir purchases a card(lv1)</li>
                <ul>
                    <li>Hepheir returns 1 ruby</li>
                    <li>Hepheir returns 5 onyx</li>
                </ul>
                <li>SJH reserves a card(lv2)</li>
                <ul>
                    <li>SJH gains a gold</li>
                </ul>
                <li>koreair takes 1 ruby</li>
                <li>koreair takes 1 emerald</li>
                <li>koreair takes 1 sapphire</li>
                <li>isuke takes 2 ruby</li>
            </ul>
        </div>
    </div>
</body>
</html>
